body {
	width:					100%;
	height:					100%;
	margin:					0px;
	overflow: hidden;
	padding:				0px;
	color:					#000;
	background-color:		#fff;
	font:					normal 11px/14px verdana,arial,sans-serif;
}

SELECT	{
	font-family: Verdana, Geneva;
	font-size: 7.5pt;
	color: #FFFFFF;
	background-color: #FFBD62;
	POSITION: absolute;
	display: block;	
	top: 497px;	
	left: 300;
	width: 150px
	}
.wrapper{
position:absolute;
top:auto;
left: 50%;
margin-left:-233px
}
.lyric	{
	position: relative;
	width: 460px;
	margin-bottom: 20px;
	padding: 15px;
	border: 6px solid #FFBD62;
	left: 0px;
	background-color: white;
	}
.footer	{
	position: absolute;
	top: 480px
	}
.entry	{
	BACKGROUND-COLOR: #c0c0c0
	}
.lyrics	{
	background-color: white;
	width: 300px;
	}
.lyrics TR{
	font: normal 8px verdana,arial,sans-serif;
	}

#layer
{
	position: absolute;
	z-index: 0;
	width: 450px;

	background-image: url(../images/bg.gif);
	height: 300px;
	left: 0px;
	top: 180px;
	background-color: #cccccc;
	color: #FFFFFF;
}
#heading
{
	position: absolute;
	z-index: 1;
	width: 467px;
	background-image: url(../images/heading.gif);
	height: 100px;
	left: 0px;
	top: 80px;
	background-color: orange;
	color: #FFFFFF;
}



.track	{
	background-color: #c0c0c0;
	color: white;
	padding: 12px;
	border: 2px outset #c0c0c0;
	background-image: url(../images/realmedia.gif);
	background-repeat: no-repeat;
	background-position: 8px 5px	;
	}
.samp	{
	background-color: f0f0f0;
	LEFT: 75px;
	position: relative
	}
.save	{
	background-color: f0f0f0;
	}
.save TH	{
	border: 1px solid white
	}
.save DIV	{
	font: normal 9/14px verdana, sans-serif;
	text-align: left
	}
.samp DIV	{
	font: normal 9/14px verdana, sans-serif;
	text-align: justify;
	}

.samp th	{
	font: normal 9px verdana,arial;
	padding: 6px
	}
.samp #track:hover{
	background-color: #f0f0f0;
	color: 000000
	}
h1 {
	font:			normal 40px 'arial black',arial,sans-serif;
	color:			#333B3F;
	margin-top:		0px;
	margin-bottom:	6px;
	margin-left:	30px;
	width:			370px;
	height:			38px;
	overflow:		hidden;
}

h2 {
	font:			bold 11px/14px verdana, sans-serif;
	border-bottom:	1px solid #6F757A;
	margin-top:		10px;
	margin-bottom:	6px;
	margin-left:	20px;
	width:			350px;
}

P	 {
	font:			normal 10px/14px verdana, sans-serif;
	width:			350px;
	margin-top:		0px;
	margin-left:	20px;
	margin-bottom:	6px;
	text-align:		justify;
	}


div.experiment {
	position:		relative;
	width:			370px;
	margin-bottom:	20px;
	padding-right: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-left: 3px solid #c0c0c0;
	left: 30px;
	background-color: white
}

h2 a, h2 a:hover {
	text-decoration: none; 
}
a	{
	color: red;
	text-decoration: none	
	}
a:hover	{
	color: blue;
	text-decoration: none
	}

p.bottommessage {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 370px;
	font: normal 9px verdana, sans-serif;
	text-align: right;

}

p.date {
	position: absolute;
	top: 1px;
	right: 0px;
	width: 150px;
	text-align: right;
	font: normal 9px verdana, sans-serif;
}
.t{
display:none;
visibility:hidden
}