.clContent{
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 0px;
	width: 200px;
}
#scrollContainer
{
	visibility:hidden;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 200px;
	width: 450px;
	height: 280px;
}

#scrollBar
{
	position: absolute;
	left: 0px;
	top:0px;
	width: 17px;
	background-image: url(../images/slider.gif);
	height: 51px;
	background-color: #999999;
	font-size: 1px;
}


#scrollTrack
{
	position: absolute;
	left: 450px;
	top:194px;
	width: 17px;
	height: 286px;
	background-color: #CCCCCC;
	font-size: 1px;
}
