.icon{
width: 246px;
height: 200px;
background:url(ff.png);
position:absolute;
top: 30px;
left: 30px;
cursor:pointer
}
.icon:hover{
background:url(ffo.png);

}

.ff{
width: 699px;
height: 461px;
background:url(aa.png);
position:absolute;
top: 75px;
left: 280px;
cursor:pointer;
visibility:hidden
}

/* ::::: http://devthought.com/wp-content/projects/chromekit/css/base.css ::::: */

.widget { font: 11px "Lucida Grande","Verdana"; }
/* ::::: http://devthought.com/wp-content/projects/chromekit/css/window.css ::::: */


.window { width: 500px; position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(51, 51, 51); }
.window .titlebar { min-height: 35px; vertical-align: top; background-color: rgb(102, 102, 102); border-bottom: 1px solid rgb(87, 87, 87); }
.window.window-focus .titlebar { background-color: rgb(51, 51, 51); }
.window .titlebar h1 { font-size: 12px; line-height: 35px; text-align: center; margin: 0px; font-weight: normal; color: rgb(51, 51, 51); cursor: default; }
.window.window-focus .titlebar h1 { color: rgb(255, 255, 255); }
.window .titlebar .controls { position: absolute; left: 10px; line-height: 35px; top: -1px; list-style-type: none; margin: 0px; padding: 0px; }
.window .titlebar .controls li { display: inline-block; }
.window .titlebar .controls li a { display: inline-block; width: 14px; height: 14px; text-decoration: none; background: none repeat scroll 0% 0% rgb(68, 68, 68); line-height: 14px; text-align: center; text-indent: -5000px; font-weight: bold; font-size: 9px; color: rgb(255, 255, 255); }
.window .titlebar .controls:hover li a, .window .titlebar .controls li a:hover { text-indent: 0px; text-decoration: none; }
.window .titlebar .toolbar { padding-left: 10px; padding-bottom: 10px; }
.window .titlebar .toolbar ul { margin: 0px; padding: 0px; }
.window .titlebar .toolbar li { display: inline-block; margin-right: 6px; list-style-type: none; }
.window .titlebar .toolbar li.toolbar-button { padding: 1px; border: 1px solid rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(136, 136, 136); }
.window.window-focus .titlebar .toolbar li.toolbar-button { border: 1px solid rgb(21, 21, 21); background: none repeat scroll 0% 0% rgb(33, 33, 33); }
.window .titlebar .toolbar li.toolbar-button a, .window .titlebar .toolbar li.toolbar-button a:hover { text-decoration: none; display: inline-block; width: 22px; text-align: center; font-size: 9px; line-height: 17px; vertical-align: middle; border: 1px solid rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(193, 193, 193); color: rgb(127, 127, 127); }
.window.window-focus .titlebar .toolbar li.toolbar-button a, .window.window-focus .titlebar .toolbar li.toolbar-button a:hover { border: 1px solid rgb(37, 37, 37); background: none repeat scroll 0% 0% rgb(43, 43, 43); color: rgb(225, 225, 225); }
.window .titlebar .toolbar li.toolbar-button a:active { opacity: 0.5; }
.window .body { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.window .footer { border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); background-color: rgb(102, 102, 102); height: 14px; }
.window.window-focus .footer { background-color: rgb(51, 51, 51); border-top: 1px solid rgb(18, 18, 18); border-bottom: 1px solid rgb(42, 42, 42); }
.window .gripper-resize { display: block; width: 11px; height: 10px; background: url('undefined') repeat scroll 0% 0% transparent; position: absolute; right: 1px; bottom: 2px; }
:first-child + html .window .footer .gripper-resize { background: url('grip.gif') repeat scroll 0% 0% transparent; }
.window-manager { position: absolute; top: 0px; left: 0px; z-index: 500; }
/* ::::: http://devthought.com/wp-content/projects/chromekit/css/components/tabs.css ::::: */

.window .tabs ul { margin: 0px; padding: 4px 8px; background-color: rgb(235, 235, 235); border-bottom: 1px solid rgb(192, 192, 192); }
.window .tabs ul li { list-style-type: none; display: inline; }
.window .tabs ul li.active {  }
.window .tabs ul li a { display: inline-block; padding: 3px 8px; text-decoration: none; color: rgb(61, 61, 61); font-weight: bold; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.window .tabs ul li.active a { background-color: rgb(201, 201, 201); }
/* ::::: http://devthought.com/wp-content/projects/chromekit/css/chrome.css ::::: */

body.chrome .window { border: medium none; }
body.chrome .window .titlebar { position: relative; top: -5px; }
body.chrome .window.window-focus .titlebar {  }
body.chrome .window .titlebar h1 { text-shadow: 0px 1px 0px rgb(204, 204, 204); }
body.chrome .window.window-focus .titlebar h1 { text-shadow: 0px 1px 0px rgb(0, 0, 0); }
body.chrome .window .titlebar .controls li a { text-shadow: 0px 1px 0px rgb(255, 255, 255); color: rgb(0, 0, 0); }
body.chrome .window.window-focus .titlebar .controls li a {  }
body.chrome .window .footer {  }
body.chrome .window.window-focus .footer {  }
body.chrome .window .tabs ul { margin-top: -5px; }
body.chrome .window .tabs ul li.active a {  }
body.chrome .window .titlebar .toolbar li.toolbar-button { border-radius: 4px 4px 4px 4px; }
/* ::::: http://devthought.com/wp-content/projects/chromekit/css/overlay.css ::::: */

/* ::::: http://devthought.com/wp-content/projects/chromekit/css/manager.flip.3d.css ::::: */

/* ::::: http://devthought.com/wp-content/projects/chromekit/demo/css/demo.css ::::: */

.window .body { padding: 10px 15px; }
.window .body p { margin: 10px 0px; }
#window-1 { left: 100px; top: 200px; }
#window-2 { left: 700px; top: 200px; }
#window-3 { left: 100px; top: 500px; min-width: 375px; }
#window-1 .body, #window-2 .body { height: 200px; }
#demo-toolbar-input { width: 75%; }
#demo-toolbar-input input { width: 100%; position: relative; top: 1px; padding: 3px 2px 2px; }
