.helper{
margin-left:30px;
margin-top:130px;

}


header{
position:absolute;
top:0px;
left:0px;
height:100px;
background:#222222;
width:100%
}
.site-logo{
color:#fff;
font-weight:700;
font-size:24px;
line-height:100px;
height: 100px;
text-decoration:none;
text-transform:uppercase;
text-shadow:2px 2px 0 #000;

}
.star{color:#ff1dad}