/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
body{
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.075)), to(rgba(255, 255, 255, 0)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-repeat: repeat-x;
background-color: #3c3c36;
}
 
 
blockquote {
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.075)), to(rgba(255, 255, 255, 0)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
background-repeat: repeat-x;
background-color: #3c3c36;
border-left:10px solid #ccc;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
color:#fff;
}
blockquote:before {

content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:inline;
}
blockquote a{
  text-decoration:none;
  color: #fe57a1 
}
   
   
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
   body {
   margin-left: 30px;
   margin-right: 30px;
   }
   
 @font-face {
  font-family: 'twitter';
  src: url("../twitter.eot");
  src: url("../twitter.eot?#iefix") format('embedded-opentype'), url("../twitter.woff") format('woff'), url("../twitter.ttf") format('truetype'), url("../twitter.svg#twitter") format('svg');
  font-weight: normal;
  font-style: normal;
}

.t{
  font-family:'twitter'
}
   
 
 h1,h2{
 font-family: 'Karla';
 color: white
 }
 #introduction,#instructions{
 color: white
 }
 #instructions a{
  text-decoration:none;
  color: #fe57a1 
 }
   
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
		background:transparent !important;
    }
	html {
		background-color:#fff;
	}
	/* Hide navigation */
	nav { display:none; }

	/* Show link destinations in brackets after the link text */
	a[href]:after { content: " (" attr(href) ") "; }
	a[href] {
		font-weight:bold;
		text-decoration:underline;
		color:#06c;
		border:none;
	}
	/* Don't show link destinations for JavaScript or internal links */ 
	a[href^="javascript:"]:after, a[href^="#"]:after {
        content:"";
    }
	
	/* Show abbr title value in brackets after the text */
	abbr[title]:after {
        content: " (" attr(title) ")";
    }

	figure { 
		margin-bottom:1em; 
		overflow:hidden;
	}

	figure img { border:1px solid #000; }

}